.left{
    float: left;
}
.right{
    float: right;
}
.topIntro {
    float: left;
    width: 100%;
    margin-bottom: 5vh;
}
.table{
    height: auto;
    width: 100%;
    float: left;
}
.title{
    padding: 0;
    margin: 0;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.01em;
}
.sub_title{
    padding: 0;
    margin: 0;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.01em;

color: #A6ACBE;
}
.button{
    margin-top: 15px;
}
