.content {
  flex-grow: 1;
  width: calc(100% - 240px);
  height: auto;
  padding: 20px;
  margin-top: 63px;
  float: right;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    padding: 20px;
    margin-top: 90px;
  }
}
